.katex-display {
    margin: 0.65em 0 0.65em 0;
    line-height: 1.5;
}
.katex {
    display: inline-block;
    white-space: nowrap;
}
#solutionContents .katex-display > .katex {
    overflow-x: scroll !important;
    overflow-y: clip !important;
    line-height: 1.5;
}
@supports (-webkit-touch-callout: none) {
    #solutionContents .katex-display > .katex {
        overflow-x: auto !important;
        overflow-y: hidden !important;
        -webkit-overflow-scrolling: touch;
    }
}
#solutionContents .katex-display > .katex * {
    line-height: 1.5;
}
#solutionContents .katex-display > .katex,
#solutionContents .katex-display > .katex * {
    white-space: nowrap !important;
}
final {
    display: block;
    width: 100%;
    box-sizing: border-box;

    padding-left: 1mm; padding-right: 1mm;
    border: double 1mm var(--border-color);
}
.frac-line {
    border-bottom-width: 1.5px !important;
}