@media only screen and (max-width: 768px) {
    pconly {
        display: none;
    }
    mobileonly {
        display: initial;
    }

    #topbar {
        display: flex;
        align-items: safe;
    }
    #viewSelect {
        margin-top: 0;
        margin-bottom: 0;
        height: var(--topbar-height);

        border-top: none;
        border-bottom: none;

        box-sizing: border-box;
    }
    #schematicInfo {
        overflow-x: auto;

        max-width: 250px;

        padding-right: 16px;
    }
    #schematicInfo * {
        line-height: 1.3;
    }


    #bottombar {
        display: none;
    }
    #schematic {
        display: none;

        width: 100vw;
        height: calc(100vh - var(--topbar-height));

        padding: 0;
    }
    #schematicViewport {
        border: none;
        background: none;
        box-shadow: none;
        padding: 0;
    }
    #solvingbar {
        display: none;

        right: 0;

        width: 100vw;
        height: calc(100vh - var(--topbar-height));
        max-width: unset;
    }
    #infobar {
        display: none;

        width: 100vw;
        max-width: unset;
    }
    #instructions {
        max-width: 180px;
    }
}