:root {
    color-scheme: light;
    --theme-color: #143322;
    --muted-color: #4e6c5d;
    --highlight-color: #1f8a52;
    --border-color: #b9d2c1;

    --background-color: #eef7ef;
    --contrast-color: #f9fff8;
    --contrast-color-subtle: #dcebdc;
    --surface-color: #f9fff8;
}
