:root {
    color-scheme: dark;
    --theme-color: #d4ead9;
    --muted-color: #95b8a1;
    --highlight-color: #39c172;
    --border-color: #2f5340;

    --background-color: #0f1712;
    --contrast-color: #141d18;
    --contrast-color-subtle: #203126;
    --surface-color: #141d18;
}
