:root {
    color-scheme: dark;
    --theme-color: #f4d4d4;
    --muted-color: #e0abab;
    --highlight-color: #ff6b6b;
    --border-color: #7f2f2f;

    --background-color: #1d0f0f;
    --contrast-color: #140909;
    --contrast-color-subtle: #2c1515;
    --surface-color: #221111;
}
