#editor-selector {
    box-sizing: border-box;
    position: absolute;
    bottom: 200px;
    left: 20px;
    width: 165px;
    height: auto;
    max-height: calc(100% - 220px);

    padding: 15px;
    overflow-y: auto;

    background-color: var(--background-color-subtle);
    border: solid 1px var(--border-color);
    border-radius: 15px;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.15);

    z-index: 2;
}
#editor-selector-container {
    display: grid;
    grid-template-columns: repeat(2, var(--tile-size));
    grid-auto-flow: row;
    gap: 5px;
}
#editor-selector-remove {
    box-sizing: border-box;

    width: auto;
    height: 50px;

    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px var(--border-color);
    --gradient-color: color-mix(in srgb, 40% var(--highlight-color), transparent);
    background: repeating-linear-gradient(
        135deg,
        var(--gradient-color),
        var(--gradient-color) 1px,
        transparent 1px,
        transparent 5px
    );

    cursor: pointer;
}
#editor-selector-remove > svg {
    aspect-ratio: 1/1;
    height: 45px;
    transform: translateY(-2px);
}

/*#editor-selector-container .setstroke {
    stroke: var(--theme-color);
}
#editor-selector-container .setfill {
    fill: var(--theme-color);
}*/

.editor-item-wrapper {
    border: dotted 1px transparent;
    cursor: pointer;

    line-height: 0;

    transition: ease-out 0.5s;
}
.editor-item-wrapper:hover {
    background-color: var(--background-color);
    border-color: var(--border-color);
    border-radius: 10px;

    transition: ease-in 0.05s;
}

#editor-tilevardetWrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - calc(2 * 20px));
    height: 160px;

    pointer-events: none;

    display: inline-flex;
}
#editor-tilevardetWrapper > * { pointer-events: all; }
#editor-tiledetails, #editor-processing {
    box-sizing: border-box;
    /*position: absolute;
    bottom: 20px;
    left: 20px;*/
    min-width: 300px;
    height: 160px; /* Wrapper: 100% */
    /*max-height: 80%;*/

    display: inline-flex;
    padding: 15px;

    background-color: var(--background-color-subtle);
    border: solid 1px var(--border-color);
    border-radius: 15px;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.15);
    font-family: var(--font-tech);
    font-size: var(--font-size-tech);

    z-index: 2;
}
#editor-tiledetails {
    height: 100%;

    opacity: 0.5;
}
#editor-tiledetails-image {
    width: 128px;
    height: 128px;

    margin-right: 10px;
    /*padding-right: 10px;*/
    border-left:   solid  1px var(--border-color);
    border-right:  solid  1px var(--border-color);
    border-top:    dotted 1px var(--border-color);
    border-bottom: dotted 1px var(--border-color);

    background: repeating-conic-gradient(var(--background-color) 0% 25%, var(--background-color-subtle) 0% 50%) 0 0 / 64px 64px;
}
#editor-tiledetails-buttons {
    margin-left: 8px;
}
#editor-tiledetails-buttons > button {
    width: 25px;
    height: 25px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#editor-tiledetails-buttons > button:nth-child(1) { padding-left: 06.5px; }
#editor-tiledetails-buttons > button:nth-child(3) { padding-left: 10.0px; }
#editor-tiledetails-buttons > button:nth-child(5) { padding-left: 08.0px; }
#editor-tiledetails-buttons > button:hover {
    cursor: pointer;

    background-color: var(--background-color);

    transition: 0.1s 0.2s;
}
#editor-tiledetails-cursor {
    position: absolute;
    width: auto;
    height: auto;

    padding: 0;

    /*background-color: var(--background-color-subtle);
    border: solid 1px var(--background-color);*/
 
    /*transform: translate(-50%, -50%);*/
    
    line-height: 0;

    z-index: 1;
}
#editor-tiledetails-cursorWrapper {
    box-sizing: content-box;

    --border-thickness: 2px;
    transform-origin:
        calc(calc(var(--tile-size) / 2))
        calc(calc(var(--tile-size) / 2));

    opacity: 0.5;

    border: var(--border-thickness) 2px var(--background-color);
    background-color: color-mix(in srgb, var(--background-color-subtle) 50%, transparent 50%);
}
#editor-tiledetails-imageWrapper, #editor-tiledetails-cursorWrapper, #editor-viewport-underneath {
    transition: transform 0.3s;
    line-height: 0;
}
#editor-viewport-center, #editor-tiledetails-cursor, #editor-tiledetails-cursor *, #editor-viewport-underneath {
    pointer-events: none;
}
.setstroke  { stroke: var(--theme-color)     !important; }
.setfill    { fill:   var(--theme-color)     !important; }
.setstrokeH { stroke: var(--highlight-color) !important; }
.setfillH   { fill:   var(--highlight-color) !important; }
#editor-tiledetails-name { font-size: var(--font-size-base); }
#editor-tileVariants {
    box-sizing: border-box;
    height: 100%;

    margin-left: 20px;
    padding: 12.5px;

    background-color: var(--background-color-subtle);
    border: solid 1px var(--border-color);
    border-radius: 15px;
    box-shadow: 0px 0px 22px -6px rgba(0,0,0,0.15);
    font-family: var(--font-tech);
    font-size: var(--font-size-tech);

    z-index: 2;
}
#editor-tileVariants-container {
    display: grid;
    grid-template-rows: repeat(2, 64px);
    grid-auto-flow: column;
    gap: 5px;
}
#editor-tileVariants-container > span {
    cursor: pointer;

    border-radius: 15px;

    /*background-color: var(--background-color);*/ /* Auto-assigned to active variant */
}


#editor-viewport {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 0;

    background-color: var(--surface-color);

    --border-width: 1px;
    --tsmb: calc(var(--tile-size) - var(--border-width));
    --bwh: calc(var(--border-width) / 2);
    --mod: mod(calc(100% - var(--tile-size)), calc(var(--tile-size) * 2));
    --modh: calc(var(--mod) / 4);
    /*--grid-color: var(--background-color);*/
}
#editor-viewport-canvas {
    box-sizing: content-box;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  calc(100% - var(--mod));
    height: calc(100% - var(--mod));

    transform: translate(-50%, -50%);

    overflow: hidden;

    background:
        repeating-linear-gradient(90deg, var(--grid-color) 0px, var(--grid-color) var(--border-width),
            transparent var(--border-width), transparent var(--tsmb),
            var(--grid-color) var(--tsmb), var(--grid-color) var(--tile-size)),
        repeating-linear-gradient(       var(--grid-color) 0px, var(--grid-color) var(--border-width),
            transparent var(--border-width), transparent var(--tsmb),
            var(--grid-color) var(--tsmb), var(--grid-color) var(--tile-size));
    border: solid var(--border-width) var(--grid-color);
}
#editor-viewport-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 2;

    color: var(--muted-color);
}
.editor-viewport-error {
    position: absolute;
    top: unset;
    left: unset;

    width: auto;
    height: auto;

    transform: translate(-4px, -8px);

    color: var(--highlight-color);
    font-weight: bold;
    font-size: 22px;
}
#editor-viewport-underneath {
    position: absolute;
    top: -100%;
    left: -100%;
    width: unset;
    height: unset;

    display: unset;
    transform-origin: calc(var(--tile-size) / 2) calc(var(--tile-size) / 2);

    background-color: var(--background-color);
}
#editor-canvas-cellsWrapper > span {
    position: absolute;
    top: unset;
    left: unset;
    width: auto;
    height: auto;

    transform-origin: calc(var(--tile-size) / 2) calc(var(--tile-size) / 2);
}

#editor-processing {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: fit-content;
}

/*#editor-copyfieldWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: #000b;
    backdrop-filter: blur(5px);

    z-index: 10;
}
#editor-copyfieldWrapper > button {
    box-sizing: border-box;
    position: absolute;
    top: calc(100% - 60px);
    left: 15%;
    width: 70%;
    height: 40px;

    font-family: var(--font-tech);

    cursor: pointer;
}
#editor-copyfieldWrapper > textarea {
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 15%;
    width: 70%;
    height: calc(100% - 100px);

    color: var(--theme-color);
}*/